.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* 最上的导航栏开始 */
.topnav {
    background-color: rgb(29, 122, 217);
    height: 40px;
}
.topnav3 {
    color: white;
  line-height: 40px;
    font-size: 14px;
}
.topnav2 {
    display: flex;
    justify-content: space-between;
}
.topnav4 {
    display: flex;
    line-height: 40px;
}
.denglu {

 font-size: 16px;
 color: white;
 border-left: 1px solid white;
 border-right: 1px solid white;
 padding: 0 11px;
 white-space:nowrap;

}
.denglu:hover {
    background-color: white;
    color: black;
    padding: 0 37px;
}
/* 最上的导航栏结束 */
/* 中间的导航栏开始  这个是小于768时候的设置*/
@media screen and (min-width: 1px) and (max-width:768px) {
.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: rgb(249, 249, 249);
  /* background-color: red; */
 padding-top: 100px;
 border-bottom: 1px solid #e7e7e7;
}}
@media screen and (min-width: 769px) and (max-width:5000px) {
  .container2 {
    display: none;
  }}
.toggle {
 background-color: #f9f9f9;
 height: 80px;
 border-bottom: 1px solid black;
}

.toggle-item{
  background-color: #f9f9f9;
  bottom: 0px;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
  transition: all .3s;
}
#toggle-trigger {  /*这个是input触发 现在是隐藏然后包含在label里面*/
 display: none;
}
#toggle-trigger ~ :not(checked) + .toggle-item {
 display: block;
}
#toggle-trigger:checked + .toggle-item {
display: none;
}


/* 导航栏按钮 */
.icon-bar { /*这个是按钮的三条横*/
  display: block;
    width: 36px;
    height: 6px;
    border-radius: 1px;
    background-color: #888;
    margin-top: 5px;
    margin-left: 7px;
}

.anniuzaoxing {  /*这个是折叠栏设置的圆框 */
  width: 50px;
    height: 40px;
    background-color: #ffffff;
    margin: -53px 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #888;
    outline: none;
    float: right;
   
}
.anniu {
  background-color: white;
    padding: 14px 19px;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin-top: 22px;
}
.anniu:hover {
  background-color:rgb(29, 122, 217);
  color: #f9f9f9;
}
/* 中间导航栏小于768结束 */
/* 中间导航栏 大于768显示开始 */
@media screen and (min-width: 1px) and (max-width:768px) {
  .container3  {
    display: none;
  }}
 
@media screen and (min-width: 769px) and (max-width:5000px) {
  .container3 {
    background-color: rgb(249, 249, 249);
   
  }}
  @media screen and (min-width: 769px) and (max-width:5000px) {
  .anniu2 {
    display: block;
    background-color: white;
    padding: 14px 19px;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 26px;
    margin-right: 60px;
  }}
  .anniu2:hover {
    background-color:rgb(29, 122, 217);
    color: #f9f9f9;
  }

/* 因为行内行外覆盖不一样 所以现在试试新的样式试试 */
.container4 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .container4 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container4 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container4 {
    width: 1170px;
  }
}
/* 手写折叠栏 结束 */
/* hover的定制纸箱开始 */

.column {
height: 140px;
width: 100%;
display: flex;
justify-content: flex-end;
flex-direction: row;
flex-wrap: wrap;
position: relative;
}
@media screen and (min-width: 1px) and (max-width:768px) {
  .column1 {
    width: 100%;
  }}
@media screen and (min-width: 769px) and (max-width:992px) {
    .column1 {
      width: 50%;
  }}
@media screen and (min-width: 993px) and (max-width:3170px) {
    .column1 {
      width: 160px;
    }}
@media screen and (min-width: 993px) and (max-width:3170px) {
.column4 {
  background-color:red;
  height: 6px;
  width: 150px;
  margin-right: -15px;
  z-index: -1;
}}
.column1 {
  background-color: #cccccc;
  /* width: 141px; */
  height: 6px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 111;
}
.column1:hover {
  color: rgb(242, 136, 35);
  background-color: rgb(242, 136, 35);
}
.column1:hover .column2 {
  background-color: rgb(242, 136, 35);
}
.column1:hover .column3 {
  color: rgb(242, 136, 35);
}
.column2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #cccccc;
  color: #f9f9f9;
  position: absolute;
  margin-top: -10px;
 
}
.column3 {
  margin-top: 30px;
  color: #888;
}
/* hover的定制纸箱结束 */
/* 按照定制开始 */
