.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* 最上的导航栏开始 */
.topnav {
    background-color: rgb(29, 122, 217);
    height: 40px;
}
.topnav3 {
    color: white;
  line-height: 40px;
    font-size: 14px;
}
.topnav2 {
    display: flex;
    justify-content: space-between;
}
.topnav4 {
    display: flex;
    line-height: 40px;
}
.denglu {

 font-size: 16px;
 color: white;
 border-left: 1px solid white;
 border-right: 1px solid white;
 padding: 0 11px;
 white-space:nowrap;

}
.denglu:hover {
    background-color: white;
    color: black;
    padding: 0 37px;
}
/* 最上的导航栏结束 */
/* 中间的导航栏开始 */
.toggle {
 background-color: #f9f9f9;
 height: 80px;
 border-bottom: 1px solid black;
}
.toggle-item{
  background-color: #f9f9f9;
  margin-left: -15px;
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  padding-bottom: 30px;
}
#toggle-trigger {  /*这个是input触发 现在是隐藏然后包含在label里面*/
 display: none;
}
#toggle-trigger ~ :not(checked)  .toggle-item {
 display: block;
}
#toggle-trigger:checked  .toggle-item {
display: none;

}
/* 导航栏按钮 */
.icon-bar { /*这个是按钮的三条横*/
  display: block;
    width: 36px;
    height: 6px;
    border-radius: 1px;
    background-color: #888;
    margin-top: 5px;
    margin-left: 7px;
}
.anniuzaoxing {  /*这个是折叠栏设置的圆框 */
  width: 50px;
    height: 40px;
    background-color: #ffffff;
    margin: 30px 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #888;
    outline: none;
    float: right;
}
.anniu {
  background-color: white;
    padding: 14px 19px;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin-top: 22px;
}
.toggle-item {
  margin-right: -15px;
    margin-left: -15px;
}