*{
    margin: 0;
    padding: 0; /*清除内外边距*/
   }
   ul{
    list-style: none; /*去掉列表样式小点*/
   }
   .clearfix:before,.clearfix:after{  /*清除浮动*/
    display: table;
    content: "";
   }
   .clearfix:after{
    clear: both;
   }
   .cleaffix{
    *zoom: 1;
   }
    body{ /*首先要给网页设置好最小宽度 还有最大宽度 然后还要居中对齐*/
   min-width: 320px; /*最小宽度*/
   max-width: 768px; /*最大宽度*/
   background-color: rgb(235, 236, 241);
   }
   /* 头部导航栏 */
   header{
       width: 100%;
       height: 2.75rem;
       background: rgb(82, 180, 196);
       position: relative;
   }
   header ul li{
       float: left;
       font-size: 1.125rem;
       color: white;
       line-height: 2.75rem;
   }
   .close{
   float: left;
    position: absolute;
    left: .9375rem;
   }
   .land{
       float: left;
       position: absolute;
       left: 50%;
       transform: translate(-50%);
   }
   .register{
       float: left;
       position: absolute;
       right: .9375rem;
   }
   .nav{
    
       height: 3.125rem;
       width: 100%;
       background-color: white;
       margin-top: .4375rem;
       background: url(../images/iphone1.png) no-repeat white;
       background-size: 1.03125rem 1.46875rem;
       background-position: 1.1875rem .8125rem;
      
      
   }
   
   .nav input{
       border: none;
       outline: none;
       height: 1.71875rem;
       border-left: 1px solid rgb(240, 242, 243);
       float: left;
       margin-left: 3.4375rem;
       margin-top: .75rem; 
       text-indent:.9375rem; /*输入框距离*/
   }
   .nav1{
    
    height: 3.125rem;
    width: 100%;
    background-color: white;
    margin-top: .4375rem;
    background: url(../images/locked1.png) no-repeat white;
    background-size: 1.03125rem 1.46875rem;
    background-position: 1.1875rem .8125rem;
   
}

.nav1 input{
   border: none;
    outline: none;
    height: 1.71875rem;
    float: left;
    margin-left: 3.4375rem;
    border-left: 1px solid rgb(240, 242, 243);
    margin-top: .75rem; 
    text-indent:.9375rem; /*输入框距离*/
}
   button{
       margin-top: .4375rem;
       width: 100%;
       height: 3.125rem;
       background-color: rgb(95, 192, 205);
       color: white;
       border: none;
       outline: none;
    
   }
   .forget a{
       color: rgb(101, 188, 202);
       float: right;
       margin-right: .9375rem;
       margin-top: .5rem;
   }
   /* {
       width: 3.5625rem;
       height: 3.3125rem;
       background: url(../images/iphone1.png) no-repeat;
       float: left;
       background-size: 1.03125rem 1.46875rem;
       background-position: 1.1875rem .8125rem;
   } */