.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  
  



/* 特殊的要点 */
.bbhui {
    border-bottom: 1px solid #e6e6e6;
}
.axia:hover{
    text-decoration: underline;
    text-decoration-color:white;
}
/* 行高 */
.lh-29 {
    line-height: 29px;
}
  /* margin 单位 */
 .mr18 {
     margin-right: 18px;
 }
 .ml18 {
     margin-left: 18px;
 }
 .mr80 {
    margin-right: -34px;
}
 .mr0 {
     margin-right: 0px;
 }
 .mrtb29 {
     margin-top: 29px;
    
 }
.mt18 {
    margin-top: 18px;
}
 .mb10 {
     margin-bottom: 10px;
 }
 .mb38s {
     margin-bottom: 38px;
     text-align: center;
 }
 .mb38 {
    margin-bottom: 38px;
}
.mt31 {
    margin-top: 31px;
}
 .mt30 {
     margin-top: 38px;
 }
 .mb225 {
     margin-bottom: 225px;
 }
 .mr-30 {
     margin-right: 30px;
 }
 .mb-24 {
     margin-bottom: 24px;
 }
 .mt240 {
     margin-top: 240px;
 }
 .mweb {
     margin: 20px 12px;
 }
/* padding单位 */
.p-15 {
    padding-right: -15px;
}
.plr-63 {
    padding-left: 63px;
    padding-right: 63px;
}
.pt-26 {
    padding-top: 26px;
}
.pt-38 {
    padding-top: 38px;
}
.pb-180 {
    padding-bottom: 180px;
}
.ptb-28 {
    padding-top: 28px;
    padding-bottom: 28px;
}
.pb-67 {
    padding-bottom: 67px;
}
.pr-25 {
    padding-right: 25px;
}

  /* 背景颜色 */
 .baibgc {
     background: white;
 }
 .lvbgc {
     background-color: rgb(41, 176, 120);
 }
  .pt-30 {
      padding-top: 30px;
      
  }
  .pb-35 {
      padding-bottom: 35px;
  }

/* 字体颜色 */
.heifs {
    color: black;
}
.lvfs {
    color: rgb(41, 176, 120);
}
.hongfs {
    color: red;
}
.baifs {
    color: white;
}
.qianhuise {
    color: rgb(178, 178, 178);
}



  /* 字体大小 */
  .fs14 {
      font-size: 14px;
  }
  .fs16 {
    font-size: 16px;
  }
  .fs17 {
      font-size: 17px;
  }
  .fs22 {
    font-size: 22px;
  }
 .fs20 {
     font-size: 20px;
 }


  /* 高度 */
 .h40 {
     height: 40px;;
 } 
 

  /* flex 布局 */
  .flex {
      display: flex;
  }
.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sb {
    display: flex;
    justify-content: space-between;
   
}
.centers {
    display: flex;
    justify-content: center;
    align-items: center;     
}
.fcc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexend {
      display: flex;
      justify-content: flex-end
  }
  @media screen and (min-width: 900px) and (max-width:4900px) {
    .sbs {
        display: flex;
        justify-content: space-between;
       
    }
}
  /* 格子系统  宽度是10份 */
  @media screen and (min-width: 1px) and (max-width:1200px) {
      .s10 {
          width: 100%;
      }
     
  }
  @media screen and (min-width: 1200px) and (max-width:5000px)  {
      .l3 {
          width: 33%;
      }
      .l7 {
        width: 65%;
    }
    
    }
    