body {
    

    header {
        height: 40px;
    }
    nav {
        .toggle {
            background-color: #f9f9f9;
            height: 80px;
            border-bottom: 1px solid black;
           }
           
           .toggle-item{
             bottom: 0px;
             width: 100%;
             padding-bottom: 30px;
             transition: all .3s;
           }
           #toggle-trigger {  /*这个是input触发 现在是隐藏然后包含在label里面*/
            // display: none;
            visibility: hidden;
           }
           #toggle-trigger ~ :not(checked) + .toggle-item {
            display: block;
           }
           #toggle-trigger:checked + .toggle-item {
           display: none;
           }

/* 导航栏按钮 */
.icon-bar { /*这个是按钮的三条横*/
    display: block;
      width: 36px;
      height: 6px;
      border-radius: 1px;
      background-color: #888;
      margin-top: 5px;
      margin-left: 7px;
  }
  
  .anniuzaoxing {  /*这个是折叠栏设置的圆框 */
    width: 50px;
      height: 40px;
      background-color: rgb(41, 176, 120);
      margin: -77px 10px 0 10px;
      border-radius: 4px;
      border: 1px solid #888;
      outline: none;
      float: right;
     
  }
  .anniu {
    background-color: rgb(41, 176, 120);
      padding: 14px 19px;
      
      color: white;
      text-align: center;
      margin-top: 22px;
      border-bottom: 2px solid rgb(41, 176, 120);
  }
  .anniu:hover {
    border-bottom: 2px solid white;
    color: #f9f9f9;
  }
       .nav1 {
           width: 103px;
           line-height: 93px;
           height: 93px;
           border-bottom: 7px solid rgb(41, 176, 120);
           text-align: center;
           &:hover {
               border-bottom: 7px solid white;
           }
       }
       @media screen and (min-width: 1px) and (max-width:768px) {
           .dapingmu {
               display: none;
           }
     
       }
    }
    @media screen and (min-width: 768px) and (max-width:3768px) {
        .xiaopingmu {
            display: none;
        }
    }

    .mr18m {
        @media screen and (min-width: 358px) and (max-width:3768px){
        margin-right: 18px;
    }
    }
// 这个三个页面的是导航栏
// 底部开始








// 轮播图开始
    .tpt-banner {
        position: relative;
        width: 100%;
        height: 604px
    }
    .tpt-banner input {
        display: none
    }
    .tpt-banner ul li {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
       
        height: 100%;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        // animation: myimg 12s linear infinite normal; 
        // transition: 2s;
        // animation-timing-function:2s;
        
    }
    .tpt-banner img {
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    .tpt-banner .nev,.tpt-banner .nxt {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        width: 48px;
        height: 48px;
        
    }
    .tpt-banner .nev label,.tpt-banner .nxt label,.tpt-banner input:checked~.nev label,.tpt-banner input:checked~.nxt label {
        display: none
    }
    .tpt-banner .nev {
        left: 0
    }
    .tpt-banner .nxt {
        right: 0
    }
    .tpt-banner .nts {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center
    }
    .tpt-banner .nev label:after {
        content: url(https://tpt360.com/tuimg/e.png);
        cursor: pointer
    }
    .tpt-banner .nxt label:after {
        content: url(https://tpt360.com/tuimg/x.png);
        cursor: pointer
    }
    .tpt-banner .nts label {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        /* background: #fff; */
        border: 1px  solid white;
        cursor: pointer;
    }
    /* .tpt-banner input:checked~.nts label {
        border: 1px  solid white;
    } */
    /* .tpt-banner .nts label.num1 {
        background-color: white;
    } */
    .tpt-banner .nev label.num3,.tpt-banner .nxt label.num2,.tpt-banner ul li.num1 {
        display: block
    }
    .tpt-banner #ban1:checked~.nts .num1,.tpt-banner #ban2:checked~.nts .num2,.tpt-banner #ban3:checked~.nts .num3 {
        background-color: white;
    }
    .tpt-banner #ban1:checked~.nev label.num3,.tpt-banner #ban1:checked~.nxt label.num2,.tpt-banner #ban1:checked~ul li.num1,.tpt-banner #ban2:checked~.nev label.num1,.tpt-banner #ban2:checked~.nxt label.num3,.tpt-banner #ban2:checked~ul li.num2,.tpt-banner #ban3:checked~.nev label.num2,.tpt-banner #ban3:checked~.nxt label.num1,.tpt-banner #ban3:checked~ul li.num3 {
        display: block
    }
    

    // 动画效果
    @keyframes myimg {
        1%{
            left: 0;
        }
        5%{
            left: 0;
        }

        30%{
            left: -1000px;
        }
        35%{
            left: -1000px;
        }

        60%{
            left: -2000px;
        }
        65%{
            left: -2000px;
        }

        95%{
            left: -3000px;
        }
        100%{
            left: -3000px;
        }
    }
// 轮播图结束

  
}
// 推荐页面的开头
.wrap1 {
    
    width: 100%;
    height: 18.4375vw;
    
    img {
        width: 100%;
        height: 100%;
    }
}
.left-main {
    border: 1px solid #e6e6e6;
}
.left-main1 {
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}
.ball {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: #f3aa4b 1px solid;
    border-radius: 50%;
}
.baba:hover {
    color: rgb(255, 101, 14);
}
.baba:hover .ball {
    background-color: rgb(255, 101, 14);
}
.right-main {
    border: 1px solid  #e6e6e6;
}

  @media screen and (min-width: 1200px) and (max-width:5000px) {
    .flex-768 {
        display: flex;
        justify-content: space-between;
  }
  }
  .tudouwang {
      width: 100%;
      text-align: center;
  }
  .dibu {
      border-top: 1px solid #e6e6e6;
      text-align: center;
      padding: 10px 0;
      margin-top: 10px;
  }
  .fangxiang {
      border-top: 1px solid  rgb(208, 214, 217);
      border-bottom: 1px solid rgb(237, 241, 242);
      margin-top: 30px;
      
  }
  .biankanganniu {
      display: inline-block;
      color: black;
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-right: 25px;
      &:hover {
        background: green;
        color: white;
      }
  }
 .kkfx {
     margin-top: 32px;
     padding-bottom: 32px;
     border-bottom:  1px solid #d0d6d9;
 }
 .flexwrap {
    @media screen and (min-width: 1000px) and (max-width:4000px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
    }
 }
 .columm {
     border: 1px solid rgb(237, 241, 242);
     margin-top: 46px;
     
     position: relative;
     &:hover .columm10{
       visibility: visible;
       transform: scale(1.1);
       overflow: hidden;
       transition: all 0.5s;
       
       
     }
     @media screen and (min-width: 1px) and (max-width:1000px) {
        width: 100%;
    }
    @media screen and (min-width: 1000px) and (max-width:1500px) {
        width: 48.5%;
        margin-right: 5px;
       
    }
    @media screen and (min-width: 1500px) and (max-width:4200px) {
        width: 32%;
        margin-right: 14px;
     
    }
 }
 .columm2 {
     width: 100%;
     display: flex;
 }
 .columm3 {
     width: 100%;
     display: flex;
 }
 .columm4 {
     width: 50%;
     border: 1px solid rgb(237, 241, 242);
     padding: 15px 10px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 .columm5 {
     width: 40%;
     text-align: center;
     height: 110px;
     line-height: 110px;
     border-right: 1px solid rgb(237, 241, 242);
     border-bottom: 1px solid rgb(237, 241, 242);
 }
 .columm6 {
     width: 60%;
   
 }
 .columm7 {
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 11px;
     padding-left: 25px;
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid rgb(237, 241, 242);
 }
.columm8 {
    font-size: 17px;
    padding: 12px 11px;
    border-bottom: 1px solid rgb(237, 241, 242);
}
.columm9 {
    padding: 12px 11px;
}
.columm10 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    color: white;
    visibility: hidden;
  
    

    .columm12 {
        color:  white;
        font-size: 17px;
        text-align: center;
       padding-top: 85px;
    }
    .columm11{
        color: #fff;
        font-size: 19px;
        padding-top: 36px;
        padding-left: 42px;
        padding-right: 42px;
    }
   
}