/* 字体大小 */
.fs-18 {
    font-size: 2.8125vw;
}

.fs-24 {
    font-size: 3.75vw;
}

.fs-26 {
    font-size: 4.0625vw;
}

.fs-30 {
    font-size: 4.6875vw;
}

.fs-33 {
    font-size: 5.1563vw;
}

.fs-36 {
    font-size: 5.625vw;
}
.fs-40 {
    font-size: 6.25vw;
}
/* margin距离 */

/* mg距离 */
.mgt-10{
    margin-top: 10px;
}
.mgb-10{
    margin-bottom:10px;
}
.mgl-10{
    margin-left: 10px;
}
.mgr-5{
    margin-right: 5px;
}
.mgr-10{
    margin-right: 10px;
}
.mgr-15{
    margin-right: 15px;
}
.mgtb-10{
    margin: 10px 0;
     
}
.mgtb-15{
    margin: 15px 0;
}
.mglr-10{
    margin: 0 10px;
}
/* padding 线 */
.pt-5{
    padding-top: 5px;
}
.pb-5{
    padding-bottom: 5px;

}
.pl-10{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pr-10{
    padding-right: 10px;
}
.ptb-10{
    padding:10px 0 ;
}
.ptb-15{
    padding:15px 0 ;
}
.plr-10{
    padding: 0 10px;
}


/* flex 布局 */
.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.sb {
    display: flex;
    justify-content: space-between;
   
}
.centers {
    display: flex;
    justify-content: center;
    align-items: center;     
}
.fcc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }