
 @import url(../css/reset.css); //这个是导入重置模块
 //下面是设置基础样式
 .center {
     display: flex;
     justify-content: space-between;
     align-items: center;
     //@extend .center  使用@extend选择器
 }

 .sb {
     display: flex;
     justify-content: space-between;
     //@extend .sb  使用@extend选择器
 }
 @mixin centers {
     display: flex;
     justify-content: center;
     align-items: center;
     //使用@mixin 选择器全部居中   @mixin centers;
          
 }
 $bjs:rgb(41, 189, 224); //这个是背景色
body{
    background-color: $bjs;


    header{
        height: 2.75rem;
        padding: 0 25px;
        @extend .center;
        background-color:$bjs;
        div:nth-child(2) {
            color: white;
            font-size: 1.0625rem;
        }
    }
    main {
        height: 12.9688vw;
        background-color: rgb(195, 231, 243);
        @extend .center;
        padding-left: 7.3438vw;
        padding-right: 2.5vw;
        position: relative;
        audio {
            opacity: 0;
            
        }
        div:first-child {
            font-size: 4.0625vw;

        }
        div:nth-child(2) {
            width: 27px;
           height: 27px;
            background: url(../7.png) no-repeat;
            overflow: hidden;
        }
        div:nth-child(3) {
            width: 0;
            height: 0;
            border-top: 15px solid rgb(185, 233, 245);
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            position: absolute;
            top: 12.9vw;
            left: 7vw;
        }
    }
    nav {
        margin-top: 1.5rem;
        margin-left: 7vw;
        margin-bottom: 6.5625vw;
        color: white;
        font-size: 3.75vw;
    }
   

    section {
        display: flex;
        justify-content: space-between;
        padding: 0 6.4063vw;
        margin-top: 3.4375vw;
        width: 87%;
       .dahezi{
        border: 0.9375vw solid white;
        background-color: rgb(238, 203, 134);
        height: 18.0667vw;
        width: 18.0667vw;
        margin-bottom: 3.2813vw;
        &:hover~.daoju {
            visibility: visible;
            @extend .sb;
            
            img {
                width: 4vw;
              }
        }
       }
      .dahezi2 {
          height: 75%;
          font-size: 4.0625vw;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .dahezi3 {
          height: 25%;
          font-size: 2.9688vw;
          @include centers;
          background-color: rgb(131, 176, 154);
          color: white;
      }
      .daoju {
        visibility: hidden;
        display: flex;
        img {
            width: 4vw;
          }
      }
    }
   .foot {
       position: fixed;
    padding-top: 6.25vw;
    padding-bottom: 9.5313vw;
    margin-left:  6.4063vw;
    margin-right: 6.4063vw;
       width: 87%;
       bottom: 0;
       @include centers;
       background-color:rgb(41, 189, 224);
       border-top: 1px solid white;

       .footer1 {
          
           color: white;
           font-size: 6.25vw;
           padding: 3.9063vw 31.25vw;
           background-color: rgb(251, 180, 53);
           text-align: center;
       }
   }

}