@import url(../css/reset.css); //这个是导入重置模块
@import url(../css/taks13.scss);

body {
    background-color: rgb(240, 240, 240);
   
    .fenqu {
        display: flex;
    }
    nav {
        // overflow: hidden;
        
    }
header {
    background-color: rgb(41, 189, 224);
    img {
        padding: 3.125vw 3.5938vw;
    }
}
section {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .section1 {
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
        height: 18.2813vw;
        width: 88.75vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.2188vw;
        margin-bottom: 3.9063vw;
        
        div:nth-child(1) {
            font-size: 5.3125vw;
            color: #9a9a9a;
            margin-left: 16.4063vw;
        }
        div:nth-child(2) {
            margin-right: 2.1875vw;
        }
    }
    .section2 {
        border: 1px solid rgb(201, 201, 201);
        background-color: white;
        width: 89.0625vw;
        .section3 {
             font-size: 5.7813vw;
             color: rgb(250, 180, 53);
             text-align: center;
             padding-top: 4.5313vw;
             padding-bottom: 3.4375vw;
             border-bottom: 1px solid rgb(250, 180, 53);
        }
        .section4 {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        
          .section7 {
           font-size: 5vw;
           color: white;
           background-color: rgb(105, 209, 233);
           height: 20.7813vw;
           width: 72.3438vw;
           text-align: center;
           line-height: 20.7813vw;
           margin: 4.375vw 0;
        }
        .section8 {
            font-size: 3.9063vw;
            text-align: center;
            margin: 4.375vw 0;
        }
        .section9 {
           display: flex;
           align-items: center;
           position: absolute;
           background: url(../cs1.png) no-repeat;
           background-size: contain;
           height: 8.75vw;
           width: 4.375vw;
           left: 74.125vw;
           top: 11.0938vw;
        }
        .section10 {
           display: flex;
           position: relative;
        }
  }
    }
    .circle{
        display: flex;
        text-align: center;
        margin-bottom: 1.7188vw;
        .cir {
            border-radius: 50%;
            height: 2.8125vw;
            width: 2.8125vw;
            margin-right: 1.7188vw;
            
            background-color: rgb(236, 236, 236);
            &:hover {
                background-color: rgb(105, 209, 233);
            }
        }
    }

    main {
      background-color: white;
      margin-right: 15.625vw;
      height: 103.125vw;
      width: 23.4375vw;

      .main1 {
          display: flex;

      }
    }

}
