/*客服热线开始*/
.kefurexian{
    background-color: white;
    height: 40px; 
    line-height: 40px;  
    color: rgb(53, 170, 106);
    font-size: 14px;

}
.tubiao{
    height: 40px; 
    line-height: 40px;  
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
 .qq{
     margin: 0 10px 0 10px;
 }


/*客服热线结束*/
/*导航栏开始*/

.navbar-lk{    /*这个是设置导航栏的高 还有背景颜色*/
   height: 100px;
   background-color: rgb(32,165,99); 
   margin: 0;
   
}
.navbar-brand{           /*这个是设置图标图片的*/
  height: 100px;          
  padding-top: 30px;
}
.navbar-toggle {  /*这个是设置缩小屏幕后的三条横线居中的布局*/
    margin-top: 32px;
 }
 .yanse{
     background-color:rgb(32,165,99);
     margin-top: 0;
     margin-bottom: 0;
     

 }
 .navbar-lk .navbar-nav li{
     height: 100px;
 }
 .navbar-lk .navbar-nav li>a{
    text-align: center;
     padding-top: 40px;
     font-size: 16px;
     color: white;
      }
      .navbar-lk .navbar-nav li:hover{
          border-bottom: 4px solid white;
      }
      .navbar-lk .navbar-nav li>a:hover{
          color: white;
      }
 /*下面是取消样式*/
 .navbar{
     border: 0;
 }
 .navbar-collapse{
     border-top: 0;
 }
 /* 导航栏结束 */
 /* 轮播图开始 */
 /*下面这个是去除轮播图阴影效果的开始*/
 .carousel-control.left {
  
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  }
  .carousel-control.right {
    left: auto;
    right: 0;
   
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  }
 /*去除阴影效果结束*/
 .item>img{
    width: 100%;
    max-height: 600px; /*设置了最大高度 就可以固定轮播图的高度了*/
 }
 /*轮播图结束*/
 /*列表图标开始*/
 section{
     margin-top: 150px;
     
 }
 h4{
    margin-top: 32px;
    margin-bottom: 30px;
 }
.main1{
    height: 270px;
    text-align: center;
    /* background-color: beige; */

}

.main1>p{
    font-size: 16px;
    color:rgb(149, 149, 149);
}
.main2>p{
    font-size: 16px;
    color:rgb(149, 149, 149);
}
.main3>p{
    font-size: 16px;
    color:rgb(149, 149, 149);
}
.main2{
    height: 270px;
    text-align: center;
    
}
.main2>img{
   margin-top: 15px;
}
.main3{
    height: 270px;
    text-align: center;
    padding: 0 45px;
  
}
.main3>img{
    margin-top: 7px;
    
}
 .main4{
     height: 270px;
     padding-left: 57px;
     padding-top: 65px;
     border-left: 2px dashed rgb(217, 217, 217);
 }
 .main4 img{
     margin-right: 13px;
    vertical-align: 0%;
 }
 .main4>p{
    color: green;
    font-size: 18px;
    
 }
 .main4>span{
     display: block;
     margin-bottom: 25px;
     font-size: 18px;
     color:rgb(149, 149, 149);
 }