body{
    background-color: #fafafa;
}
/*客服热线开始*/
.kefurexian{
    background-color: rgb(249, 249, 249);
    height: 40px; 
    line-height: 40px;  
    color: rgb(53, 170, 106);
    font-size: 14px;

}
.tubiao{
    height: 40px; 
    line-height: 40px;  
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
 .qq{
     margin: 0 10px 0 10px;
 }


/*客服热线结束*/
/*导航栏开始*/

.navbar-lk{    /*这个是设置导航栏的高 还有背景颜色*/
   /* height: 100px; */
   background-color: rgb(32,165,99); 
   margin: 0;
   
}
.navbar-brand{           /*这个是设置图标图片的*/
  height: 100px;          
  padding-top: 30px;
}
.navbar-toggle {  /*这个是设置缩小屏幕后的三条横线居中的布局*/
    margin-top: 32px;
    
 }
 .yanse{
     background-color:rgb(32,165,99);
     margin-top: 0;
     margin-bottom: 0.5px;
     

 }
 .navbar-lk .navbar-nav li{
     height: 100px;
 }
 .navbar-lk .navbar-nav li>a{
    text-align: center;
     padding-top: 40px;
     font-size: 16px;
     color: white;
      }
      .navbar-lk .navbar-nav li:hover{
          border-bottom: 4px solid white;
      }
      .navbar-lk .navbar-nav li>a:hover{
          color: white;
      }
 /*下面是取消样式*/
 .navbar{
     border: 0;
 }
 .navbar-collapse{
     border-top: 0;
 }
 /* 导航栏结束 */
/* 导航方向开始 */
 .biankang1 {
     padding: 32px 0;
     font-size: 16px;
     border-bottom: 1px solid rgb(202, 208, 212);
 }
 .biankang2 {
     caret-color: 14px;
     padding: 24px 0;
     border-bottom: 1px solid rgb(234, 239, 240);
 }
 .bianhua {
     display: inline-block;
    
     font-size: 14px;
    /* background-color: green; */
    margin: 0 14px;
    color: black;
 }
 .bianhua:hover {
    background-color: rgb(33, 167, 108);
    text-decoration: none;
    color: white;
 }
 .biankang3 {
     padding: 30px 0;
     border-bottom: 1px solid rgb(202, 208, 212);
     font-size: 16px;
     margin-bottom: 45px;
 }
 /* 导航方向结束 */
 /* 职业框开始 */
 .hezi {
     
     position: relative;
     border: 1px solid rgb(234, 239, 240);
     margin-bottom: 45px;
   
 }
 .renwu {
     display: flex;
     padding-top: 20px;
     padding-left: 12px;
     padding-bottom: 19px;

 }
 .renwuwenzi {
     padding-top: 10px;
     padding-left: 9px;
     padding-right: 9px;
     color: black;
 }
 .xing {
    border: 1px solid rgb(234, 239, 240);
    display: flex;
 }
 
 .xing1 {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: 1px solid rgb(234, 239, 240);
    width: 50%;
 }
 .xing2 {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 37px;
    white-space:nowrap;
    width: 50%;
    /* display: flex;
    flex-wrap: nowrap; */
 }
 .chengzhang {
     display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(234, 239, 240);
    width: 100%;
 }
 .daiyu {
     border-top: 1px solid rgb(234, 239, 240);
     width: 100%;
     display: flex;
     flex-direction: row;
     border-bottom: 1px solid rgb(234, 239, 240);
 }
 .daiyu1 {
     width: 40%;
     padding-top: 45px;
     padding-bottom: 45px;
    text-align: center;
     border-right: 1px solid rgb(234, 239, 240);
   
     
 }
 .daiyu2 {
     width: 60%;
    
 }
 .daiyu3 {
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(234, 239, 240);
  font-size: 12px;
}
.xuexi {
    padding: 14px 0;
    padding-left: 14px;
}
.xuexi1 {
    padding: 14px 0;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 11px;
    border-top: 1px solid rgb(234, 239, 240);
}
.zhebiceng {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    color: white;
    visibility: hidden;
}
.hezi:hover .zhebiceng{
    visibility: visible;
}
.ios {
    font-size: 16px;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 35px;
}
.ioswenzi {
    
    padding-left: 42px;
    padding-right: 54px;
    font-size: 16px;
    text-indent: 0.5cm;

}
/* 后端方向开始 */
.houduan {
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(201, 208, 201);
    color: black;
    margin-bottom: 45px;
}
/* 后端方向结束 */
/* 下地边框栏开始 */
/* 底部开始 */
.copyright{
    background-color: rgb(53, 170, 106);
    margin-top: 230px;
}
.dibu1{
    height: 173px;
    padding-top: 38px;
    color: white;
    font-size: 16px;
}
.dibu1 a{
    color: white;
    font-size: 12px;
}
.dibu2{
    margin-top: 60px;
}
.dibu3{
    display: inline-block;
    font-size: 12px;
    margin-top: 23px;
    margin-right: 20px;
}
.dibu4{
    display: block;
    color: white;
    font: 14px;
    margin-top: 40px;
}
.dibu5{
    border-top: 1px solid #32c086;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 30px;
}
