nav{
    background-color: white;
    height: 40px; 
    line-height: 40px;  
    color: rgb(53, 170, 106);
    font-size: 14px;

}
.tubiao{
    display: flex;
    justify-content: flex-end;
}
 .tubiao>img{
    width: 25px;
    height: 24px;
} 