/*客服热线开始*/
.kefurexian{
    background-color: white;
    height: 40px; 
    line-height: 40px;  
    color: rgb(53, 170, 106);
    font-size: 14px;

}
.tubiao{
    height: 40px; 
    line-height: 40px;  
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
 .qq{
     margin: 0 10px 0 10px;
 }


/*客服热线结束*/
/*导航栏开始*/

.navbar-lk{    /*这个是设置导航栏的高 还有背景颜色*/
   height: 100px;
   background-color: rgb(32,165,99);   
}
.navbar-brand{           /*这个是设置图标图片的*/
  height: 100px;          
  padding-top: 30px;
}
.navbar-toggle {  /*这个是设置缩小屏幕后的三条横线居中的布局*/
    margin-top: 32px;
 }
 .yanse{
     background-color:rgb(32,165,99);
 }
 .navbar-lk .navbar-nav li>a{
     height: 100px;
     line-height: 80px;
     text-align: center;
     color: white;
     border-bottom: 0;
 }
 .navbar-lk .navbar-nav li.active a{
    background-color: transparent;
    color: white;
 }
 .navbar-lk .navbar-nav li a:hover{
    background-color: transparent;
    color: white;
    border-bottom: 4px solid white;
 }
 