*{
    margin: 0;
    padding: 0; /*清除内外边距*/
    list-style: none; /*去掉列表样式小点*/
   }
   
  
   header{
       height: 2.6875rem;
       background:  rgb(95, 192, 205);
       width: 100%;
       display: flex;
       justify-content: space-between; 
       align-items: center;
      
      }           
      span:first-child{
          width: 44px;
          height: 54px;
          background: url(../task6/img/css_sprites.png) no-repeat red;
          background-position: -136px 43px;
      }
    