*{
    margin: 0;
    padding: 0; /*清除内外边距*/
    list-style: none; /*去掉列表样式小点*/
   }
   
  
   header{
       height: 2.6875rem;
       background:  rgb(95, 192, 205);
       width: 100%;
       display: flex;
       justify-content: space-between; 
       align-items: center;
      
      }           
      header img{
          width: 22px;
          height: 28px;
          margin-right: .875rem;
      }
