// 这个是我声明的变量 
$lvcolor:rgb(116, 190, 204);


body {
    background-color: rgb(239, 240, 244);
    margin: 0;
    padding: 0;
    input {
        border: none;
        outline: none;
        -webkit-appearance: none;
    }
    
    nav {
       
        background-color:$lvcolor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem .9375rem;
       div {
           color: white;
           font-size: 16px;
       }
    }
    main {
       
        color: red;
        .login {
            display: flex;
            width: 100%;
            margin-top: .5625rem;
            padding: 1.0625rem 0;
            background-color: white;
            .imgs{
                width: 10%;
               display: flex;
               justify-content: center;
               align-items: center;
                img {
                    width: 23px;
                    
                }
            }
            input{
                width: 90%;
                height: 2.5rem;
                border-left: 1px solid rgb(234, 236, 237);
                color: rgb(234, 236, 237);
                font-size: 18px;
            }
        }
    }
    .buttons {
        margin: 2.125rem auto;
       background-color: $lvcolor;
       padding: 1rem 0;
       width: 100%;
       font-size: 18px;
       color: white;
    }
    .mima {
        a{
        display: block;
        color: $lvcolor;
        float: right;
        margin-top: -1.6875rem;
        margin-right: 1rem;
    }
    }
}
